<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bell Bootstrap 4 Theme</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Bell
      Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>

  <body>
    <!-- Page Content
    ================================================== -->
    <!-- Hero -->

    <section class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="img/logo2.png"></a>
          </div>
        </div>

        <div class="col-md-12">
          <h1>
            Done Right. Guaranteed.
          </h1>

          <p class="tagline">
            Quality Repair. Fair Prices. Nationwide Warranty.
          </p>
          <a class="btn btn-full" href="https://repairpal.com/repair-shops">Find a RepairPal Certified Shop</a>
        </div>
      </div>

    </section>
    <!-- /Hero -->

  <!-- Header -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="index.html"><img src="img/repairLogo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Bell</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="https://repairpal.com/estimator">Get Your Car Fixed</a></li>
          <li><a href="https://repairpal.com/car-overview">Learn About Your Car</a></li>
          <li><a href="http://www.repairpal-shops.com/main/">Shop Owners</a></li>
        </ul>
      </nav><!-- #nav-menu-containe r -->

      <nav class="nav social-nav pull-right hidden-sm-down">
        <a href="https://twitter.com/repairpal"><i class="fa fa-twitter"></i></a> <a href="https://www.facebook.com/RepairPal"><i class="fa fa-facebook"></i></a> <a href="https://www.linkedin.com/company-beta/167650/"><i class="fa fa-linkedin"></i></a>
      </nav>
    </div>
  </header><!-- #header -->

    <!-- About -->

    <section class="about" id="about">
      <div class="container text-center">
        <h2>
          About Repair Pal
        </h2>

        <p>
          RepairPal independently certifies auto repair shops nationwide for superior training, quality tools, fair pricing and a minimum 12-month/12,000-mile warranty. Get a free referral to a RepairPal Certified shop today.
        </p>

        <div class="row stats-row">
          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">232</span> Satisfied Customers
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">79</span> Certified Shops
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">1,463</span> Hours Of Support
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">1565</span> Mechanics
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /About -->
    <!-- Parallax -->

    <div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="img/parallax-bg.jpg" data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
      <h3>
        You're guaranteed not to overpay for auto repair when you use our Fair Price Estimator
      </h3>


      <img alt="Bell - A perfect theme" class="gadgets-img hidden-md-down" src="img/auto-repair.png">
    </div>
    <!-- /Parallax -->
    <!-- Features -->

    <section class="features" id="features">
      <div class="container">
        <h2 class="text-center">
          Features
        </h2>

        <div class="row">
          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-car"></span>
                </div>
              </div>

              <div>
                <h3>
                  Coverage Qualification
                </h3>

                <p>
                  Simply register your repair to activate warranty coverage after any RepairPal shop performs a qualifying repair* for your car.
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-flag-o"></span>
                </div>
              </div>

              <div>
                <h3>
                  Coverage Nationwide
                </h3>

                <p>
                  If you're within 25 miles of the original shop, they'll handle the repair for you.
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-calendar-check-o"></span>
                </div>
              </div>

              <div>
                <h3>
                  Yearly Coverage
                </h3>

                <p>
                Your Nationwide Warranty will cover you for the same length of time as the shop’s local warranty, up to 2 years.
                </p>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </section>
    <!-- /Features -->
    <!-- Call to Action -->

    <section class="cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-sm-12 text-lg-left text-center">
            <h2>
              Get an Estimate
            </h2>

            <p>
              Tell us a symptom, service or repair for your car
            </p>
          </div>

          <div class="col-lg-3 col-sm-12 text-lg-right text-center">
            <a class="btn btn-ghost" href="https://repairpal.com/estimator">Get an Estimate</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /Call to Action -->
    <!-- Portfolio -->

    <section class="portfolio" id="portfolio">
      <div class="container text-center">
        <h2>
          RepairPal Blog
        </h2>

        <p>
          Learn about your car in the New RepairPal Blog
        </p>
      </div>

      <div class="portfolio-grid">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="https://repairpal.com/blog/cool-down-your-car-fast"><img alt="" src="img/porf-1.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Heat!
                  </h3>

                  <p class="card-text">
                    Your Solution For Combating A Hot, Hot, Hot Car This Summer
                  </p>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="https://repairpal.com/blog/why-air-conditioning-not-working"><img alt="" src="img/porf-2.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Chill out!
                  </h3>

                  <p class="card-text">
                    The Top 3 Reasons Your Car’s A/C Isn’t Working
                  </p>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="https://repairpal.com/blog/lemon-laws"><img alt="" src="img/porf-3.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Liking Lemon
                  </h3>

                  <p class="card-text">
                    What's A Lemon And Am I Protected If I Buy One?
                  </p>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="https://repairpal.com/blog/summer-tire-pressure-check"><img alt="" src="img/porf-4.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Under Pressure
                  </h3>

                  <p class="card-text">
                    Tire Pressure in the Summer
                  </p>
                </div>
              </div></a>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /Portfolio -->
    <!-- Team -->

    <section class="team" id="team">
      <div class="container">
        <h2 class="text-center">
          Meet our team
        </h2>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="img/team-1.jpg">
              <div class="card-title-wrap">
                <span class="card-title">Jennifer Steeves-Kiss</span> <span class="card-text">Chief of Product</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="https://twitter.com/repairpal"><i class="fa fa-twitter"></i></a> <a href="https://www.facebook.com/RepairPal"><i class="fa fa-facebook"></i></a> <a href="https://www.linkedin.com/company-beta/167650/"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                </nav>

                <p>
                </p>
              </div></a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="img/team-2.jpg">
              <div class="card-title-wrap">
                <span class="card-title">Art Shaw</span> <span class="card-text">CEO</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                </nav>

                <p>
                </p>
              </div></a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="img/team-3.jpg">
              <div class="card-title-wrap">
                <span class="card-title">Matt Grosso</span> <span class="card-text">CTO</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                </nav>

                <p>
                </p>
              </div></a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="img/team-4.jpg">
              <div class="card-title-wrap">
                <span class="card-title">Chan Patel</span> <span class="card-text">Director of Sales</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                </nav>

                <p>
                </p>
              </div></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Team -->
    <!-- @component: footer -->

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-title">Contact Us</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 offset-lg-2">
            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>363 Clementina St<br>San Francisco, CA 94103</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>info@repairpal.com</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>+1(800) 969-9204</p>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

    <footer class="site-footer">
      <div class="bottom">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 col-xs-12 text-lg-left text-center">
              <p class="copyright-text">
              </p>
              <div class="credits">
              </div>
            </div>

            <div class="col-lg-6 col-xs-12 text-lg-right text-center">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="index.html">Home</a>
                </li>

                <li class="list-inline-item">
                  <a href="#about">About Us</a>
                </li>

                <li class="list-inline-item">
                  <a href="#features">Features</a>
                </li>

                <li class="list-inline-item">
                  <a href="#portfolio">Portfolio</a>
                </li>

                <li class="list-inline-item">
                  <a href="#team">Team</a>
                </li>

                <li class="list-inline-item">
                  <a href="#contact">Contact</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </footer>
    <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a> <!-- JavaScript


    <!-- Required JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/tether/js/tether.min.js"></script>
    <script src="lib/stellar/stellar.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/easing/easing.js"></script>
    <script src="lib/stickyjs/sticky.js"></script>
    <script src="lib/parallax/parallax.js"></script>
    <script src="lib/lockfixed/lockfixed.min.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="js/custom.js"></script>

  </body>
</html>
