// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media screen and (min-width: 641px) {
  .photo-image img{
    max-width: 300px;
    //border-radius: 50%;
  }
  .item-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .item-details {
    display: flex;
    justify-content: space-between;
  }
  .action-items
  {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 640px) {
  .photo-image img{
    max-width: 200px;
    //border-radius: 50%;
  }
  .item-details {
    align-items: center;
    flex-direction: column;
  }
  .action-items
  {
    display: flex;
    align-items: center;
  }
  .item-description {
    padding: 0;
  }
}

h1 {
  text-align: center;
}
